In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')


import pylab as plt
import seaborn as sns

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By   # para buscar segun tag, id, class, etc...
from selenium import webdriver
import time

from selenium import webdriver

In [2]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
PATH=ChromeDriverManager().install()

In [4]:
url = 'https://www.nba.com/stats/teams/traditional?Season=2021-22&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [5]:
driver = webdriver.Chrome(PATH)

driver.get(url)

In [6]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

teams[0]

['1',
 'Golden State Warriors',
 '6',
 '4',
 '2',
 '.667',
 '48.0',
 '104.8',
 '38.8',
 '87.2',
 '44.6',
 '15.3',
 '41.8',
 '36.7',
 '11.8',
 '14.7',
 '80.7',
 '9.8',
 '31.8',
 '41.7',
 '23.5',
 '13.8',
 '10.3',
 '4.5',
 '6.0',
 '20.8',
 '16.2',
 '4.0']

In [7]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [11]:
final_2021 = pd.DataFrame(teams, columns = headings)
final_2021

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Golden State Warriors,6,4,2,.667,48.0,104.8,38.8,87.2,44.6,15.3,41.8,36.7,11.8,14.7,80.7,9.8,31.8,41.7,23.5,13.8,10.3,4.5,6.0,20.8,16.2,4.0
1,2,Boston Celtics,6,2,4,.333,48.0,100.8,35.8,82.3,43.5,14.3,35.2,40.8,14.8,19.8,74.8,9.7,33.5,43.2,25.3,16.8,6.2,6.0,4.5,16.2,20.8,-4.0

In [12]:
final_2021['SEASON'] = '2022'

In [16]:
url_1 = 'https://www.nba.com/stats/teams/traditional?Season=2020-21&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [17]:
driver.get(url_1)

In [18]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

teams[0]

['1',
 'Milwaukee Bucks',
 '6',
 '4',
 '2',
 '.667',
 '48.0',
 '111.7',
 '41.8',
 '89.5',
 '46.7',
 '11.0',
 '31.2',
 '35.3',
 '17.0',
 '23.3',
 '72.9',
 '13.2',
 '33.2',
 '46.3',
 '23.0',
 '11.3',
 '8.0',
 '3.5',
 '4.0',
 '17.5',
 '20.3',
 '2.3']

In [19]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [20]:
final_2020 = pd.DataFrame(teams, columns = headings)
final_2020

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Milwaukee Bucks,6,4,2,.667,48.0,111.7,41.8,89.5,46.7,11.0,31.2,35.3,17.0,23.3,72.9,13.2,33.2,46.3,23.0,11.3,8.0,3.5,4.0,17.5,20.3,2.3
1,2,Phoenix Suns,6,2,4,.333,48.0,109.3,41.7,85.0,49.0,11.0,28.7,38.4,15.0,17.5,85.7,7.0,32.0,39.0,20.0,13.0,7.0,4.0,3.5,20.3,17.5,-2.3

In [21]:
final_2020['SEASON'] = '2021'

In [23]:
url_2 = 'https://www.nba.com/stats/teams/traditional?Season=2019-20&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [28]:
driver.get(url_2)

In [29]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

teams[0]

['1',
 'Los Angeles Lakers',
 '6',
 '4',
 '2',
 '.667',
 '48.0',
 '110.0',
 '39.5',
 '85.0',
 '46.5',
 '14.0',
 '39.8',
 '35.1',
 '17.0',
 '21.5',
 '79.1',
 '11.7',
 '33.3',
 '45.0',
 '25.0',
 '14.2',
 '6.8',
 '4.3',
 '3.2',
 '20.7',
 '19.8',
 '5.5']

In [30]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [31]:
final_2019 = pd.DataFrame(teams, columns = headings)
final_2019

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Los Angeles Lakers,6,4,2,.667,48.0,110.0,39.5,85.0,46.5,14.0,39.8,35.1,17.0,21.5,79.1,11.7,33.3,45.0,25.0,14.2,6.8,4.3,3.2,20.7,19.8,5.5
1,2,Miami Heat,6,2,4,.333,48.0,104.5,36.7,79.5,46.1,11.5,31.5,36.5,19.7,23.5,83.7,6.5,31.0,37.5,24.3,12.3,5.5,3.2,4.3,19.8,20.7,-5.5

In [32]:
final_2019['SEASON'] = '2020'

In [33]:
url_3 = 'https://www.nba.com/stats/teams/traditional?Season=2018-19&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [34]:
driver.get(url_3)

In [35]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

teams[0]

['1',
 'Toronto Raptors',
 '6',
 '4',
 '2',
 '.667',
 '48.0',
 '111.5',
 '38.3',
 '84.3',
 '45.5',
 '12.0',
 '34.3',
 '35.0',
 '22.8',
 '26.5',
 '86.2',
 '9.7',
 '31.3',
 '41.0',
 '23.0',
 '12.8',
 '8.2',
 '4.8',
 '4.8',
 '22.2',
 '23.7',
 '5.7']

In [36]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [37]:
final_2018 = pd.DataFrame(teams, columns = headings)
final_2018

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Toronto Raptors,6,4,2,.667,48.0,111.5,38.3,84.3,45.5,12.0,34.3,35.0,22.8,26.5,86.2,9.7,31.3,41.0,23.0,12.8,8.2,4.8,4.8,22.2,23.7,5.7
1,2,Golden State Warriors,6,2,4,.333,48.0,105.8,36.7,81.8,44.8,12.7,33.5,37.8,19.8,24.8,79.9,8.8,31.5,40.3,28.2,16.7,6.8,4.8,4.8,23.7,22.2,-5.7

In [38]:
final_2018['SEASON'] = '2019'

In [39]:
url_4 = 'https://www.nba.com/stats/teams/traditional?Season=2017-18&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [40]:
driver.get(url_4)

In [41]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

teams[0]

['1',
 'Golden State Warriors',
 '4',
 '4',
 '0',
 '1.000',
 '49.3',
 '116.0',
 '43.5',
 '84.8',
 '51.3',
 '12.8',
 '34.0',
 '37.5',
 '16.3',
 '19.0',
 '85.5',
 '6.8',
 '33.3',
 '40.0',
 '27.8',
 '10.3',
 '6.5',
 '8.0',
 '4.0',
 '21.8',
 '18.3',
 '15.0']

In [42]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [43]:
final_2017 = pd.DataFrame(teams, columns = headings)
final_2017

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Golden State Warriors,4,4,0,1.000,49.3,116.0,43.5,84.8,51.3,12.8,34.0,37.5,16.3,19.0,85.5,6.8,33.3,40.0,27.8,10.3,6.5,8.0,4.0,21.8,18.3,15.0
1,2,Cleveland Cavaliers,4,0,4,.000,49.3,101.0,37.8,92.0,41.0,9.0,30.5,29.5,16.5,22.5,73.3,16.8,29.8,46.5,21.0,12.0,6.3,4.0,8.0,18.3,21.8,-15.0

In [44]:
final_2017['SEASON'] = '2018'

In [45]:
url_5 = 'https://www.nba.com/stats/teams/traditional?Season=2016-17&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [46]:
driver.get(url_5)

In [47]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [48]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [49]:
final_2016 = pd.DataFrame(teams, columns = headings)
final_2016

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Golden State Warriors,5,4,1,.800,48.0,121.6,43.2,91.0,47.5,14.2,37.2,38.2,21.0,25.6,82.0,12.2,33.6,45.8,29.4,13.4,7.6,4.4,3.6,24.4,22.4,6.8
1,2,Cleveland Cavaliers,5,1,4,.200,48.0,114.8,41.6,90.2,46.1,13.2,34.6,38.2,18.4,24.6,74.8,11.6,32.0,43.6,21.6,13.4,7.2,3.6,4.4,22.4,24.4,-6.8

In [55]:
final_2016['SEASON'] = '2017'

In [50]:
url_6 = 'https://www.nba.com/stats/teams/traditional?Season=2015-16&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [51]:
driver.get(url_6)

In [52]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [53]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [54]:
final_2015 = pd.DataFrame(teams, columns = headings)
final_2015

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Cleveland Cavaliers,7,4,3,.571,48.0,100.4,37.6,82.4,45.6,8.0,24.3,32.9,17.3,23.9,72.5,11.7,32.1,43.9,18.0,14.1,9.3,5.4,5.7,21.0,21.4,0.6
1,2,Golden State Warriors,7,3,4,.429,48.0,99.9,35.6,82.6,43.1,13.4,36.0,37.3,15.3,20.7,73.8,10.3,29.6,39.9,22.6,14.0,6.6,5.7,5.4,21.4,21.0,-0.6

In [56]:
final_2015['SEASON'] = '2016'

In [57]:
url_7 = 'https://www.nba.com/stats/teams/traditional?Season=2014-15&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [58]:
driver.get(url_7)

In [59]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [60]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [61]:
final_2014 = pd.DataFrame(teams, columns = headings)
final_2014

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Golden State Warriors,6,4,2,.667,49.7,100.7,36.2,83.0,43.6,11.2,31.0,36.0,17.2,24.8,69.1,10.5,33.7,44.2,23.0,13.0,8.0,5.0,5.0,24.2,22.2,7.2
1,2,Cleveland Cavaliers,6,2,4,.333,49.7,93.5,32.7,85.2,38.4,8.2,27.8,29.3,20.0,28.5,70.2,12.5,35.0,47.5,15.8,14.5,7.5,5.0,5.0,22.2,24.2,-7.2

In [62]:
final_2014['SEASON'] = '2015'

In [63]:
url_8 = 'https://www.nba.com/stats/teams/traditional?Season=2013-14&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [64]:
driver.get(url_8)

In [65]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [66]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [67]:
final_2013 = pd.DataFrame(teams, columns = headings)
final_2013

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,San Antonio Spurs,5,4,1,.800,48.0,105.6,38.2,72.4,52.8,11.0,23.6,46.6,18.2,24.4,74.6,7.8,30.0,37.8,25.4,13.8,8.0,3.4,2.2,19.8,23.0,14.0
1,2,Miami Heat,5,1,4,.200,48.0,91.6,33.6,71.2,47.2,9.2,23.2,39.7,15.2,20.6,73.8,5.6,26.6,32.2,15.2,15.8,8.0,2.2,3.4,23.0,19.8,-14.0

In [68]:
final_2013['SEASON'] = '2014'

In [69]:
url_9 = 'https://www.nba.com/stats/teams/traditional?Season=2012-13&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [70]:
driver.get(url_9)

In [71]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [72]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [73]:
final_2012 = pd.DataFrame(teams, columns = headings)
final_2012

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Miami Heat,7,4,3,.571,48.7,97.0,37.4,81.6,45.9,9.1,21.1,43.2,13.0,16.9,77.1,9.9,29.9,39.7,21.1,12.3,8.7,5.1,4.3,20.7,16.9,-0.7
1,2,San Antonio Spurs,7,3,4,.429,48.7,97.7,35.9,79.6,45.1,8.7,21.4,40.7,17.3,22.6,76.6,10.6,31.3,41.9,18.4,14.6,7.0,4.3,5.1,16.9,20.7,0.7

In [74]:
final_2012['SEASON'] = '2013'

In [75]:
url_10 = 'https://www.nba.com/stats/teams/traditional?Season=2011-12&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [76]:
driver.get(url_10)

In [77]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [78]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [79]:
final_2011 = pd.DataFrame(teams, columns = headings)
final_2011

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Miami Heat,5,4,1,.800,48.0,102.0,35.6,76.8,46.4,8.4,19.6,42.9,22.4,27.2,82.4,9.8,30.4,40.2,18.0,12.8,6.6,3.8,5.0,19.6,22.4,4.0
1,2,Oklahoma City Thunder,5,1,4,.200,48.0,98.0,36.6,80.4,45.5,6.4,21.0,30.5,18.4,23.8,77.3,9.8,28.2,38.0,15.8,11.8,7.2,5.0,3.8,22.4,19.6,-4.0

In [80]:
final_2011['SEASON'] = '2012'

In [81]:
url_11 = 'https://www.nba.com/stats/teams/traditional?Season=2010-11&SeasonType=Playoffs&PerMode=PerGame&PORound=4'

In [82]:
driver.get(url_11)

In [83]:
tabla=driver.find_element(By.CLASS_NAME, 'Crom_body__UYOcU')

teams = [[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [84]:
cabeceras = driver.find_element(By.CLASS_NAME, 'Crom_headers__mzI_m')

cabeceras = [c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

headings = cabeceras[0:28]

In [85]:
final_2010 = pd.DataFrame(teams, columns = headings)
final_2010

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,1,Dallas Mavericks,6,4,2,.667,48.0,94.7,33.0,72.7,45.4,8.5,20.7,41.1,20.2,25.8,78.1,9.2,28.5,37.7,18.2,13.5,7.2,4.0,4.5,19.7,21.3,2.3
1,2,Miami Heat,6,2,4,.333,48.0,92.3,33.7,74.7,45.1,7.5,21.7,34.6,17.5,24.7,70.9,10.7,27.8,38.5,19.5,14.5,8.0,4.5,4.0,21.3,19.7,-2.3

In [86]:
final_2010['SEASON'] = '2011'

In [87]:
seasons_finals = pd.concat([final_2021,final_2020,final_2019,final_2018,final_2017,final_2016,final_2015,final_2014,final_2013,final_2012,final_2011,final_2010])
seasons_finals.reset_index(drop = True, inplace = True)
seasons_finals

,,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-,SEASON
0,1,Golden State Warriors,6,4,2,.667,48.0,104.8,38.8,87.2,44.6,15.3,41.8,36.7,11.8,14.7,80.7,9.8,31.8,41.7,23.5,13.8,10.3,4.5,6.0,20.8,16.2,4.0,2022
1,2,Boston Celtics,6,2,4,.333,48.0,100.8,35.8,82.3,43.5,14.3,35.2,40.8,14.8,19.8,74.8,9.7,33.5,43.2,25.3,16.8,6.2,6.0,4.5,16.2,20.8,-4.0,2022
2,1,Milwaukee Bucks,6,4,2,.667,48.0,111.7,41.8,89.5,46.7,11.0,31.2,35.3,17.0,23.3,72.9,13.2,33.2,46.3,23.0,11.3,8.0,3.5,4.0,17.5,20.3,2.3,2021
3,2,Phoenix Suns,6,2,4,.333,48.0,109.3,41.7,85.0,49.0,11.0,28.7,38.4,15.0,17.5,85.7,7.0,32.0,39.0,20.0,13.0,7.0,4.0,3.5,20.3,17.5,-2.3,2021
4,1,Los Angeles Lakers,6,4,2,.667,48.0,110.0,39.5,85.0,46.5,14.0,39.8,35.1,17.0,21.5,79.1,11.7,33.3,45.0,25.0,14.2,6.8,4.3,3.2,20.7,19.8,5.5,2020
5,2,Miami Heat,6,2,4,.333,48.0,104.5,36.7,79.5,46.1,11.5,31.5,36.5,19.7,23.5,83.7,6.5,31.0,37.5,24.3,12.3,5.5,3.2,4.3,19.8,20.7,-5.5,2020
6,1,Toronto Raptors,6,4,2,.667,48.0,111.5,38.3,84.3,45.5,12.0,34.3,35.0,22.8,26.5,86.2,9.7,31.3,41.0,23.0,12.8,8.2,4.8,4.8,22.2,23.7,5.7,2019
7,2,Golden State Warriors,6,2,4,.333,48.0,105.8,36.7,81.8,44.8,12.7,33.5,37.8,19.8,24.8,79.9,8.8,31.5,40.3,28.2,16.7,6.8,4.8,4.8,23.7,22.2,-5.7,2019
8,1,Golden State Warriors,4,4,0,1.000,49.3,116.0,43.5,84.8,51.3,12.8,34.0,37.5,16.3,19.0,85.5,6.8,33.3,40.0,27.8,10.3,6.5,8.0,4.0,21.8,18.3,15.0,2018
9,2,Cleveland Cavaliers,4,0,4,.000,49.3,101.0,37.8,92.0,41.0,9.0,30.5,29.5,16.5,22.5,73.3,16.8,29.8,46.5,21.0,12.0,6.3,4.0,8.0,18.3,21.8,-15.0,2018
10,1,Golden State Warriors,5,4,1,.800,48.0,121.6,43.2,91.0,47.5,14.2,37.2,38.2,21.0,25.6,82.0,12.2,33.6,45.8,29.4,13.4,7.6,4.4,3.6,24.4,22.4,6.8,2017
11,2,Cleveland Cavaliers,5,1,4,.200,48.0,114.8,41.6,90.2,46.1,13.2,34.6,38.2,18.4,24.6,74.8,11.6,32.0,43.6,21.6,13.4,7.2,3.6,4.4,22.4,24.4,-6.8,2017
12,1,Cleveland Cavaliers,7,4,3,.571,48.0,100.4,37.6,82.4,45.6,8.0,24.3,32.9,17.3,23.9,72.5,11.7,32.1,43.9,18.0,14.1,9.3,5.4,5.7,21.0,21.4,0.6,2016
13,2,Golden State Warriors,7,3,4,.429,48.0,99.9,35.6,82.6,43.1,13.4,36.0,37.3,15.3,20.7,73.8,10.3,29.6,39.9,22.6,14.0,6.6,5.7,5.4,21.4,21.0,-0.6,2016
14,1,Golden State Warriors,6,4,2,.667,49.7,100.7,36.2,83.0,43.6,11.2,31.0,36.0,17.2,24.8,69.1,10.5,33.7,44.2,23.0,13.0,8.0,5.0,5.0,24.2,22.2,7.2,2015
15,2,Cleveland Cavaliers,6,2,4,.333,49.7,93.5,32.7,85.2,38.4,8.2,27.8,29.3,20.0,28.5,70.2,12.5,35.0,47.5,15.8,14.5,7.5,5.0,5.0,22.2,24.2,-7.2,2015
16,1,San Antonio Spurs,5,4,1,.800,48.0,105.6,38.2,72.4,52.8,11.0,23.6,46.6,18.2,24.4,74.6,7.8,30.0,37.8,25.4,13.8,8.0,3.4,2.2,19.8,23.0,14.0,2014
17,2,Miami Heat,5,1,4,.200,48.0,91.6,33.6,71.2,47.2,9.2,23.2,39.7,15.2,20.6,73.8,5.6,26.6,32.2,15.2,15.8,8.0,2.2,3.4,23.0,19.8,-14.0,2014
18,1,Miami Heat,7,4,3,.571,48.7,97.0,37.4,81.6,45.9,9.1,21.1,43.2,13.0,16.9,77.1,9.9,29.9,39.7,21.1,12.3,8.7,5.1,4.3,20.7,16.9,-0.7,2013
19,2,San Antonio Spurs,7,3,4,.429,48.7,97.7,35.9,79.6,45.1,8.7,21.4,40.7,17.3,22.6,76.6,10.6,31.3,41.9,18.4,14.6,7.0,4.3,5.1,16.9,20.7,0.7,2013
20,1,Miami Heat,5,4,1,.800,48.0,102.0,35.6,76.8,46.4,8.4,19.6,42.9,22.4,27.2,82.4,9.8,30.4,40.2,18.0,12.8,6.6,3.8,5.0,19.6,22.4,4.0,2012
21,2,Oklahoma City Thunder,5,1,4,.200,48.0,98.0,36.6,80.4,45.5,6.4,21.0,30.5,18.4,23.8,77.3,9.8,28.2,38.0,15.8,11.8,7.2,5.0,3.8,22.4,19.6,-4.0,2012
22,1,Dallas Mavericks,6,4,2,.667,48.0,94.7,33.0,72.7,45.4,8.5,20.7,41.1,20.2,25.8,78.1,9.2,28.5,37.7,18.2,13.5,7.2,4.0,4.5,19.7,21.3,2.3,2011
23,2,Miami Heat,6,2,4,.333,48.0,92.3,33.7,74.7,45.1,7.5,21.7,34.6,17.5,24.7,70.9,10.7,27.8,38.5,19.5,14.5,8.0,4.5,4.0,21.3,19.7,-2.3,2011

In [88]:
seasons_finals.TEAM.value_counts()

Golden State Warriors    6
Miami Heat               5
Cleveland Cavaliers      4
San Antonio Spurs        2
Boston Celtics           1
Milwaukee Bucks          1
Phoenix Suns             1
Los Angeles Lakers       1
Toronto Raptors          1
Oklahoma City Thunder    1
Dallas Mavericks         1
Name: TEAM, dtype: int64

In [89]:
seasons_finals.to_csv('./CSVs/seasons_finals.csv', index = False)