In [1]:
import pandas as pd
import numpy as py

In [3]:
estadios = pd.read_csv('./CSV´s/stadiums.csv')

In [4]:
estadios = estadios.head(30)

In [5]:
estadios

                      Team League Division        Lat        Long
0         Dallas Mavericks    NBA     West  32.790556  -96.810278
1            Orlando Magic    NBA     East  28.539167  -81.383611
2        San Antonio Spurs    NBA     West  29.426944  -98.437500
3           Denver Nuggets    NBA     West  39.748920 -105.008400
4            Brooklyn Nets    NBA     East  40.682661  -73.975225
5       Washington Wizards    NBA     East  38.898200  -77.020900
6    Golden State Warriors    NBA     West  37.768056 -122.387500
7     Los Angeles Clippers    NBA     West  34.043056 -118.267222
8       Los Angeles Lakers    NBA     West  34.043056 -118.267222
9        Memphis Grizzlies    NBA     West  35.138333  -90.050556
10         Milwaukee Bucks    NBA     East  43.045028  -87.918167
11            Phoenix Suns    NBA     West  33.445833 -112.071389
12              Miami Heat    NBA     East  25.781389  -80.188056
13          Indiana Pacers    NBA     East  39.763889  -86.155556
14        Sacremento Kings    NBA     West  38.580361 -121.499611
15         Detroit Pistons    NBA     East  42.341111  -83.055000
16         New York Knicks    NBA     East  40.750556  -73.993611
17  Portland Trail Blazers    NBA     West  45.531667 -122.666667
18   Oklahoma City Thunder    NBA     West  35.463333  -97.515000
19     Cleveland Cavaliers    NBA     East  41.496389  -81.688056
20         Toronto Raptors    NBA     East  43.643333  -79.379167
21    New Orleans Pelicans    NBA     West  29.948889  -90.081944
22       Charlotte Hornets    NBA     East  35.225000  -80.839167
23           Atlanta Hawks    NBA     East  33.757222  -84.396389
24  Minnesota Timberwolves    NBA     West  44.979500  -93.276100
25          Boston Celtics    NBA     East  42.366303  -71.062228
26         Houston Rockets    NBA     West  29.750833  -95.362222
27           Chicago Bulls    NBA     East  41.880556  -87.674167
28               Utah Jazz    NBA     West  40.768333 -111.901111
29      Philadelphia 76ers    NBA     East  39.901111  -75.171944

In [6]:
estadios['Team'].replace(['Los Angeles Clippers'],
                         ['LA Clippers'], inplace = True)

In [7]:
estadios

                      Team League Division        Lat        Long
0         Dallas Mavericks    NBA     West  32.790556  -96.810278
1            Orlando Magic    NBA     East  28.539167  -81.383611
2        San Antonio Spurs    NBA     West  29.426944  -98.437500
3           Denver Nuggets    NBA     West  39.748920 -105.008400
4            Brooklyn Nets    NBA     East  40.682661  -73.975225
5       Washington Wizards    NBA     East  38.898200  -77.020900
6    Golden State Warriors    NBA     West  37.768056 -122.387500
7              LA Clippers    NBA     West  34.043056 -118.267222
8       Los Angeles Lakers    NBA     West  34.043056 -118.267222
9        Memphis Grizzlies    NBA     West  35.138333  -90.050556
10         Milwaukee Bucks    NBA     East  43.045028  -87.918167
11            Phoenix Suns    NBA     West  33.445833 -112.071389
12              Miami Heat    NBA     East  25.781389  -80.188056
13          Indiana Pacers    NBA     East  39.763889  -86.155556
14        Sacremento Kings    NBA     West  38.580361 -121.499611
15         Detroit Pistons    NBA     East  42.341111  -83.055000
16         New York Knicks    NBA     East  40.750556  -73.993611
17  Portland Trail Blazers    NBA     West  45.531667 -122.666667
18   Oklahoma City Thunder    NBA     West  35.463333  -97.515000
19     Cleveland Cavaliers    NBA     East  41.496389  -81.688056
20         Toronto Raptors    NBA     East  43.643333  -79.379167
21    New Orleans Pelicans    NBA     West  29.948889  -90.081944
22       Charlotte Hornets    NBA     East  35.225000  -80.839167
23           Atlanta Hawks    NBA     East  33.757222  -84.396389
24  Minnesota Timberwolves    NBA     West  44.979500  -93.276100
25          Boston Celtics    NBA     East  42.366303  -71.062228
26         Houston Rockets    NBA     West  29.750833  -95.362222
27           Chicago Bulls    NBA     East  41.880556  -87.674167
28               Utah Jazz    NBA     West  40.768333 -111.901111
29      Philadelphia 76ers    NBA     East  39.901111  -75.171944

In [18]:
estadios['State'] = 'Texas','Florida','Texas','Colorado','Nueva York','Washington','California','California','California','Tennessee','Wisconsin','Arizona','Florida','Indiana','California','Míchigan','Nueva York','Oregón','Oklahoma','Ohio','Ontario','Luisiana','Carolina del Norte','Georgia','Minnesota','Massachusetts','Texas','Illinois','Utah','Pensilvania'

In [19]:
estadios

,Team,League,Division,Lat,Long,State
0,Dallas Mavericks,NBA,West,32.790556,-96.810278,Texas
1,Orlando Magic,NBA,East,28.539167,-81.383611,Florida
2,San Antonio Spurs,NBA,West,29.426944,-98.437500,Texas
3,Denver Nuggets,NBA,West,39.748920,-105.008400,Colorado
4,Brooklyn Nets,NBA,East,40.682661,-73.975225,Nueva York
5,Washington Wizards,NBA,East,38.898200,-77.020900,Washington
6,Golden State Warriors,NBA,West,37.768056,-122.387500,California
7,LA Clippers,NBA,West,34.043056,-118.267222,California
8,Los Angeles Lakers,NBA,West,34.043056,-118.267222,California
9,Memphis Grizzlies,NBA,West,35.138333,-90.050556,Tennessee
10,Milwaukee Bucks,NBA,East,43.045028,-87.918167,Wisconsin
11,Phoenix Suns,NBA,West,33.445833,-112.071389,Arizona
12,Miami Heat,NBA,East,25.781389,-80.188056,Florida
13,Indiana Pacers,NBA,East,39.763889,-86.155556,Indiana
14,Sacremento Kings,NBA,West,38.580361,-121.499611,California
15,Detroit Pistons,NBA,East,42.341111,-83.055000,Míchigan
16,New York Knicks,NBA,East,40.750556,-73.993611,Nueva York
17,Portland Trail Blazers,NBA,West,45.531667,-122.666667,Oregón
18,Oklahoma City Thunder,NBA,West,35.463333,-97.515000,Oklahoma
19,Cleveland Cavaliers,NBA,East,41.496389,-81.688056,Ohio
20,Toronto Raptors,NBA,East,43.643333,-79.379167,Ontario
21,New Orleans Pelicans,NBA,West,29.948889,-90.081944,Luisiana
22,Charlotte Hornets,NBA,East,35.225000,-80.839167,Carolina del Norte
23,Atlanta Hawks,NBA,East,33.757222,-84.396389,Georgia
24,Minnesota Timberwolves,NBA,West,44.979500,-93.276100,Minnesota
25,Boston Celtics,NBA,East,42.366303,-71.062228,Massachusetts
26,Houston Rockets,NBA,West,29.750833,-95.362222,Texas
27,Chicago Bulls,NBA,East,41.880556,-87.674167,Illinois
28,Utah Jazz,NBA,West,40.768333,-111.901111,Utah
29,Philadelphia 76ers,NBA,East,39.901111,-75.171944,Pensilvania

In [20]:
estadios.to_csv('./CSV´s/estadios.csv', index = False)